@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/index.scss";



.grid-container-ed {
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 10px;
  padding-top: 80px;
  grid-gap: 10px;

  justify-content: space-around;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 3fr 1fr 1.5fr;
}

.grid-item-1 {
    background-color: rgba(0, 255, 255, 0.422);
    border: 1px solid black;

   
}

.grid-item-2 {
    background-color: rgba(86, 80, 205, 0.415);
    border: 1px solid black;
    grid-column: span 2;
}

.grid-item-3 {
    border: 1px solid black;
    grid-row: span 2;

} 
.grid-item-4 {
    border: 1px solid black;
} 
.grid-item-5 {
    background-color: rgba(127, 255, 212, 0.397);
    border: 1px solid black;
} 
.grid-item-6 {
    background-color: rgba(127, 255, 212, 0.397);
    border: 1px solid black;
} 
.grid-item-7 {
    background-color: rgba(127, 255, 212, 0.397);
    border: 1px solid black;
} 
.grid-item-8 {
    background-color: rgba(127, 255, 212, 0.397);
    border: 1px solid black;
} 
.grid-item-9 {
    background-color: rgba(127, 255, 212, 0.397);
    border: 1px solid black;
} 

.img1 {
    
    max-width: 100%;
    max-height: 100%;
    
    
}