@import "styles/colors.scss";

.logout {

  padding-left: 64.25rem;
  padding-bottom: 1rem;


}

.teacher-list {
  padding-bottom: 2rem;

  .card-body {
    padding: 2rem;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

   

  }

  .hide-show-btn {
    width: 3rem;
  }
}
